  h2 {
    text-align: center;
    font-size: 35px;
    color: black;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: auto;
    background-color: white;
    margin-top: 30px;
    border: 5px solid white;
    border-radius: 30px;
  }
  .btnOpcao {
    width: 150px;
    height: auto;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: rgb(39, 39, 39);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }